 body
 {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: #CF4601;
    align-items: center;
    justify-content: center;
    flex-direction: column;

 }
 
.code
{
    text-align: center;
    color: white;
    font-size: 50px;
}
button
{
    border: 2px solid black;
    background-color: transparent;
    color: white;
    padding: 20px;
    font-size: 30px;
    cursor: pointer;
}
button:hover
{
    transform: scale(0.8);
    transition: all 0.5s ease;
}